.app-wrapper{
  display: flex;
  justify-content: space-evenly;
  margin-inline: 2em;
}
.App{
  display: flex;
  flex-flow: column wrap;
  max-width: 50%;
}

.form-wrapper{
  display: flex;
  flex-flow: column wrap;
  max-width: 40%;
  row-gap: 1em;

}
